Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !/movie-app
RewriteCond %{REQUEST_URI} !/calc-app
RewriteCond %{REQUEST_URI} !/fruit-basket
RewriteRule ^ index.html [QSA,L]