#about {
  margin: 4rem 0;
  overflow-x: hidden;
}

.about-blurbs {
  padding-top: 4rem;
}
#about li {
  list-style-type: none;
}

#about ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0;
}

.my-tools {
  padding: 1rem 0.5rem;
}
