// #about {
//     padding: .5rem 2rem 0 2rem;
// }

.about-blurbs {
    padding-top: 1rem;
}
#about li {
    list-style-type: none;
}

#about ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
}
