section#contact {
  padding-top: 2rem;
  padding-bottom: 4rem;

  @media (min-width: 700px) {
    padding-top: 4rem;
    width: 700px;
    margin-left: auto;
  }
}

.email-btn {
  background-color: #ff0084;
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
}

.contact-container {
  display: flex;
  max-width: 100%;
  align-items: flex-end;
}

.puzzle {
  max-width: 100px;
  height: 100px;
}
