section#contact {
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-inline: 0;
  background-color: black;
  color: white;
  background-size: 2.5rem 2.5rem;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.356) 0.0625rem,
      transparent 0.0625rem
    ),
    linear-gradient(
      to bottom,
      rgba(128, 128, 128, 0.342) 0.0625rem,
      transparent 0.0625rem
    );
}

#contact p {
  padding-block: 1.5rem;
}

.email-btn {
  background-color: $pink;
  margin-block: 1.5rem;
  text-align: center;
  border-radius: 50%;
  height: 11.25rem;
  width: 11.25rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 50rem) {
    height: 13.75rem;
    width: 13.75rem;
    font-size: 1.5rem;
  }
}

.contact-container {
  max-width: 100%;
  align-items: flex-end;
  text-align: center;
  @media (min-width: $medTablet) {
    padding-top: 1rem;
    width: $medTablet;
    margin: 0 auto;
  }
}

.puzzle {
  max-width: 6.25rem;
  height: 6.25rem;
}

.together-marquee {
  max-width: 100%;
}

.together-marquee h2 {
  font-size: 1.5rem;
  padding-block: 1.5rem;
  margin-left: 1rem;

  @media (min-width: $medTablet) {
    font-size: $largeFont;
    padding-top: 2.5rem;
    margin-left: 2rem;
  }
}
