#home {
  // background: #e5e5e5;
  background-color: #f9f9f7;
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.082) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.082) 1px, transparent 1px);
}
h1.name-title {
  position: absolute;
  font-family: "Birdy";
  text-transform: uppercase;
  font-size: 1.9rem;
  font-weight: 900;
  padding-top: 10rem;
  color: white;
  line-height: 1.25;
  right: 1rem;
  top: 3rem;
  mix-blend-mode: difference;

  @media (min-width: 550px) {
    display: flex;
    gap: 1rem;
    padding-top: 13rem;
    align-items: baseline;
  }

  @media (min-width: 700px) {
    font-size: 2.5rem;
  }

  @media (min-width: 950px) {
    font-size: 3.2rem;
  }

  @media (min-width: 1080px) {
    font-size: 4.5rem;
  }
}

span.dot {
  font-family: "Poppins";
  @media (min-width: 700px) {
    font-size: 5rem;
  }
  @media (min-width: 1080px) {
    font-size: 5.5rem;
  }
}

.title-container {
  height: 36rem;
  display: flex;
  position: relative;

  @media (min-width: 1000px) {
    height: 40rem;
  }
}

.descrip-words p {
  text-transform: uppercase;
  font-size: 2.2rem;
  position: absolute;

  @media (min-width: 700px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1000px) {
    font-size: 3.5rem;
  }
}

.coding {
  top: 5.5rem;
  left: 4vw;
  @media (min-width: 700px) {
    top: 6.5rem;
  }
}

.designing {
  top: 23.5rem;
  left: 6vw;
  @media (min-width: 700px) {
    top: 24.5rem;
  }
}

.branding {
  top: 10.5rem;
  right: 8vw;
  @media (min-width: 700px) {
    top: 11.5rem;
  }
}

.innovating {
  top: 29.25rem;
  right: 2vw;
  @media (min-width: 700px) {
    top: 33.5rem;
  }
}

.work-cta {
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  bottom: 12.5rem;
  border: none;
  right: 1rem;
  mix-blend-mode: difference;

  @media (min-width: 500px) {
    bottom: 10.5rem;
  }

  @media (min-width: 700px) {
    bottom: 8.5rem;
  }

  @media (min-width: 950px) {
    padding: 1rem;
  }
}

.work-cta:hover {
}

//....Arrow Styles....//

.arrow-down {
  margin: 20% 0;
}

.fa-arrow-down:before {
  color: black;
  position: absolute;
  bottom: 2rem;
  left: 0.75rem;

  @media (min-width: 700px) {
    bottom: -1rem;
    font-size: 2.5rem;
    margin-left: 2rem;
  }
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.fa-arrow-down:hover {
  color: #ff0084;
}

// scroll bar //

.scroll-container {
  position: absolute;
  width: 100vw;
}

.scroll-bar {
  position: fixed;
  right: 0.6rem;
  top: 10.9rem;
  z-index: 1000;
  display: none;
}

.scroll-bar-svg {
  mix-blend-mode: difference;
  z-index: 1000;
}

#home a {
  color: black;
}

.jt {
  position: relative;
  font-size: 20vmin;
  font-family: "Staatliches", sans-serif;
  color: #ff0084;
  text-transform: uppercase;
  font-display: swap;
  text-shadow: 0 0 10px #ff0084;
}

.jt__row {
  display: block;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  // width: 800px;
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 1.7s 0s cubic-bezier(0.36, 0, 0.06, 1) alternate infinite;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2);
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3);
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4);
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5);
}

@keyframes moveIn {
  50%,
  100% {
    transform: translateY(0em);
  }
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
}
.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
}
