#header {
  padding: 1rem;
  background-color: #e5e5e5;
}

#header a {
  text-decoration: none;
  color: black;
}

#header li {
  list-style-type: none;
  margin: 0.5rem;
}

#header ul {
  display: flex;
  justify-content: flex-end;
}
