#header {
  padding: 1rem;
  background-color: #f9f9f7;
}

#header a {
  text-decoration: none;
  color: black;
}

#header li {
  list-style-type: none;
  margin: 0.5rem;
}

#header ul {
  justify-content: flex-end;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 45px;
  @media (min-width: 700px) {
    max-width: 60px;
  }
}

input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 35px;
  z-index: 5;
  mix-blend-mode: difference;
  span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: black;
    transition: 0.5s;
  }
  span:first-child {
    top: 0px;
  }
  span:last-child {
    top: 20px;
  }
}
label:hover {
  cursor: pointer;
}
input:checked + label {
  span {
    opacity: 0;
    top: 50%;
  }
  span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
}
input ~ nav {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
  > ul {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    > li {
      opacity: 0;
      transition: 0.5s;
      transition-delay: 0s;
      > a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: 700;
        font-family: "Birdy";
        display: block;
        padding: 30px;
      }
    }
  }
}
input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
  > ul {
    > li {
      opacity: 1;
      transition-delay: 0.5s;
    }
  }
}

input#burger {
  display: none;
}
