#single-works {
  padding: 0;
}

// section#single-info {
//   padding-inline: 0;
// }

h2.selected-works,
h2.lets-work-togeth {
  text-align: center;
}

#single-works h4,
#single-works h3 {
  font-family: "Birdy";
  padding-bottom: 0.75rem;
  padding-top: 2rem;
}

.all-color-blocks {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  row-gap: 0.75rem;
  column-gap: 0.75rem;
  @media (min-width: 800px) {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    padding-block: 2rem;
  }
}

#single-works img {
  display: block;
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto;
  @media (min-width: 1000px) {
    max-width: 300px;
    max-height: 300px;
  }
}
#single-works .color-block-img {
  display: block;
  max-width: 100px;
  max-height: 100px;
  @media (min-width: 800px) {
    max-width: 150px;
    max-height: 150px;
  }
}
// .colors-title {
//   text-align: center;
// }

p.hex {
  text-align: center;
  margin-bottom: 0;
}

#single-works h2 {
  font-size: 1.2rem;
}

.proj-title {
  padding-top: 2.7rem;
}

#single-cover {
  height: 100vh;
  padding-top: 3rem;
  position: relative;
  overflow-y: hidden;
}

#single-cover p {
  text-transform: uppercase;
  font-weight: 600;
}

.arrow.bounce {
  position: absolute;
  bottom: 3rem;
}

#single-cover .fa-arrow-down:before {
  color: white;

  left: 0.75rem;
}

.screenshot-container {
  height: 320px;
  width: 100%;
  // mix-blend-mode: difference;
}

#single-cover .screenshot {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: unset;
}

//Javascript Game //
.javascript-game,
.movie-database,
.portfolio,
.calculator,
.capstone {
  // background-color: #33b2f3;
  // color: black;
  background-color: black;
  color: white;
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.356) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.342) 1px, transparent 1px);
}

//Javascript Game //
.javascript-game.screen-pic-container,
.movie-database.screen-pic-container,
.portfolio.screen-pic-container,
.calculator.screen-pic-container,
.capstone.screen-pic-container {
  // background-color: #33b2f3;
  // color: black;
  background-color: #f9f9f7;
  color: white;
  background-image: unset;
}

#single-works .calculator img {
  max-width: 100%;
  display: block;
}
// .javascript-game .header {
//   background-color: #02c5fe;
// }

//Movie Database//

.single-info {
  padding-top: 3rem;
  background-color: #f9f9f7;
}

.year-skills {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2rem 0;
  margin: 2rem 0;
}

.see-more-btn {
  background-color: #ff0084;
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.components-list {
  padding-bottom: 2rem;
  // @media (min-width: 1000px) {
  //   padding-left: 7rem;
  // }
}

.design-div {
  padding-top: 3rem;
}

.screen-pics {
  padding: 0.5rem 0;
}

.dev-div {
  padding-top: 3rem;
}

.colors-title {
  padding-top: 2rem;
  text-align: center;
}

section.screen-pic-container {
  @media (min-width: 800px) {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding-block: 4rem;
  }
}

.next-project {
  background-color: #fff;
}

.see-other-projects {
  background-color: black;
  color: white;
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.356) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.342) 1px, transparent 1px);
  padding-block: 1rem;
  @media (min-width: 600px) {
    margin-top: 5rem;
    padding-top: 0rem;
  }
}

.see-other-projects h4 {
  @media (min-width: 600px) {
    text-align: center;
  }
}

.see-other-projects ul {
  @media (min-width: 600px) {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}

.see-more {
  margin-bottom: 1rem;
}

a.link-to-proj {
  color: white;
  background-color: #ff0084;
  padding: 0.5rem;
  border-radius: 10px;
}
.link-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

#single-works.calculator img {
  max-width: unset;
}
