#single-works {
    padding: 0 2rem;
}

.skills-list {
    max-width: 20px;
}

.components-list {
    max-width: 11rem;
}

// .year-and-skills {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }