#single-works {
  padding: 0;
}
h2.selected-works,
h2.lets-work-togeth {
  text-align: center;
}

#single-works h4,
#single-works h3 {
  font-family: "Birdy";
  padding-bottom: 0.75rem;
  padding-top: 2rem;
}

.all-color-blocks {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  row-gap: 0.75rem;
  column-gap: 0.75rem;
  @media (min-width: 50rem) {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    padding-block: 2rem;
  }
}

#single-works img {
  display: block;
  max-width: 15.625rem;
  max-height: 15.625rem;
  margin: 0 auto;
  @media (min-width: $smallDesk) {
    max-width: 18.75rem;
    max-height: 18.75rem;
  }
}
#single-works .color-block-img {
  display: block;
  max-width: 6.25rem;
  max-height: 6.25rem;
  @media (min-width: 50rem) {
    max-width: 9.375rem;
    max-height: 9.375rem;
  }
}

p.hex {
  text-align: center;
  margin-bottom: 0;
}

#single-works h2 {
  font-size: $med1FontSize;
}

.proj-title {
  padding-top: 2.7rem;
}

#single-cover {
  height: 100vh;
  padding-top: 3rem;
  position: relative;
  overflow-y: hidden;
}

#single-cover p {
  text-transform: uppercase;
  font-weight: 600;
}

.arrow.bounce {
  position: absolute;
  bottom: 3rem;
}

#single-cover .fa-arrow-down:before {
  color: white;

  left: 0.75rem;
}

.screenshot-container {
  height: 20rem;
  width: 100%;
}

#single-cover .screenshot {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: unset;
  mix-blend-mode: difference;
}

// Single Works Page Background Colors//

.javascript-game,
.movie-database,
.portfolio,
.calculator,
.capstone {
  background-color: black;
  color: white;
  background-size: 2.5rem 2.5rem;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.356) 0.0625rem,
      transparent 0.0625rem
    ),
    linear-gradient(
      to bottom,
      rgba(128, 128, 128, 0.342) 0.0625rem,
      transparent 0.0625rem
    );
}

.javascript-game.screen-pic-container,
.movie-database.screen-pic-container,
.portfolio.screen-pic-container,
.calculator.screen-pic-container,
.capstone.screen-pic-container {
  background-color: #f9f9f7;
  color: white;
  background-image: unset;
}

#single-works .calculator img {
  max-width: 100%;
  display: block;
}

.single-info {
  padding-top: 3rem;
  background-color: #f9f9f7;
}

.year-skills {
  display: flex;
  justify-content: space-around;
  border-top: 0.0625rem solid black;
  border-bottom: 0.0625rem solid black;
  padding: 2rem 0;
  margin: 2rem 0;
}

.see-more-btn {
  background-color: $pink;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.625rem;
  color: white;
}

.components-list {
  padding-bottom: 2rem;
}

.design-div {
  padding-top: 3rem;
}

.screen-pics {
  padding: 0.5rem 0;
}

.dev-div {
  padding-top: 3rem;
}

.colors-title {
  padding-top: 2rem;
  text-align: center;
}

section.screen-pic-container {
  @media (min-width: 50rem) {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding-block: 4rem;
  }
}

.next-project {
  background-color: #fff;
}

.see-other-projects {
  background-color: black;
  color: white;
  background-size: 2.5rem 2.5rem;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.356) 0.0625rem,
      transparent 0.0625rem
    ),
    linear-gradient(
      to bottom,
      rgba(128, 128, 128, 0.342) 0.0625rem,
      transparent 0.0625rem
    );
  padding-block: 1rem;
  @media (min-width: 600px) {
    margin-top: 5rem;
    padding-top: 0rem;
  }
}

.see-other-projects h4 {
  @media (min-width: $smallTablet) {
    text-align: center;
  }
}

.see-other-projects ul {
  @media (min-width: $smallTablet) {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}

.see-more {
  margin-bottom: 1rem;
}

a.link-to-proj {
  color: white;
  background-color: $pink;
  padding: 0.5rem;
  border-radius: 0.625rem;
}
.link-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

#single-works.calculator img {
  max-width: unset;
}
