h3.project-title {
  text-align: center;
  padding: 1rem 0 0.25rem 0;
}

//.....Works Gallery Slider....//

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f7;
  height: 80vh;
}

.project-img {
  max-width: 15rem;
  height: auto;
}

.right-arrow {
  position: absolute;
  bottom: 5.2rem;
  right: 1.5rem;
  font-size: 2.3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  bottom: 5.2rem;
  left: 1.5rem;
  font-size: 2.3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
