section.slider {
  padding-inline: 0;
}

.selected-works {
  @media (min-width: 800px) {
    padding-bottom: 3.8rem;
    font-size: 1.8rem;
  }
}

h3.project-title {
  text-align: center;
  padding: 1rem 0 0.25rem 0;
}

.my-projects-title {
  margin-top: 2rem;

  @media (min-width: 1000px) {
    margin-top: 3.5rem;
  }
}

//.....Works Gallery Slider....//

.slider {
  margin-inline: auto;
  padding-block: 8rem;
  background-color: black;
  color: white;
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.356) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.342) 1px, transparent 1px);
}

.slide img {
  width: 14rem;
  margin: 0 auto;
  height: 30vh;
  object-fit: cover;
  filter: grayscale(1);
  @media (min-width: 1024px) {
    height: 45vh;
    width: 100vh;
  }
}

.slide img:hover {
  -moz-box-shadow: 0 0 15px #ff0084;
  -webkit-box-shadow: 0 0 15px #ff0084;
  box-shadow: 0 0 15px #ff0084;
  opacity: 0.9;
  filter: grayscale(0);
}

.slide {
  transform: scale(0.4);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
  padding: 1rem 0;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  color: white;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #ff0084;
}

.next {
  right: 7%;
  bottom: -10%;
  font-size: 1.8rem;
}

.prev {
  left: 7%;
  bottom: -10%;
  font-size: 1.8rem;
}

.prev,
.next {
  @media (min-width: 700px) {
    font-size: 2.3rem;
  }

  @media (min-width: 1000px) {
    font-size: 3rem;
  }
}

.home-proj-title {
  text-align: center;
  color: white;
  margin-top: 1rem;
  // mix-blend-mode: difference;
}

.project-tile {
  -webkit-box-shadow: 5px 2px 23px 5px rgba(0, 0, 0, 0.53);
  box-shadow: 3px 5px 10px 0px rgb(0 0 0 / 53%);
  border-radius: 10px;
}

.slick-list {
  overflow: visible;
}

.slick-dots li button:before {
  color: #ff0084;
  opacity: 0.7;
  font-size: 13px;
}

.slick-dots li.slick-active button:before {
  color: white;
  // mix-blend-mode: difference;
}

.works-marquee {
  // mix-blend-mode: difference;
}
