body {
  background-color: black;
  overflow-x: hidden;
  position: relative;
  // cursor: none;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

html {
  scroll-behavior: smooth;
  background-color: black;
  overflow-x: hidden;
  height: 100%;
  cursor: none;
}

.padding {
  padding-inline: 1.5rem;
  @media (min-width: 700px) {
    padding-inline: 3.5rem;
  }
}

a:hover {
  color: white;
}
