body {
  background-color: black;
  overflow-x: hidden;
  position: relative;
  background-size: 2.5rem 2.5rem;
  background-image: linear-gradient(
      to right,
      grey 0.0625rem,
      transparent 0.0625rem
    ),
    linear-gradient(to bottom, grey 0.0625rem, transparent 0.0625rem);
}

html {
  scroll-behavior: smooth;
  background-color: black;
  overflow-x: hidden;
}

.padding {
  padding-inline: 1.5rem;
  @media (min-width: $medTablet) {
    padding-inline: 3.5rem;
  }
}

a:hover {
  color: white;
}
a:active,
a:focus {
  color: $pink;
}
