body {
  background-color: black;
  overflow-x: hidden;
  position: relative;
}

section {
  padding-inline: 1.5rem;
}

html {
  scroll-behavior: smooth;
  background-color: black;
  overflow-x: hidden;
}
