.line-deco {
  height: 4px;
  width: 100%;
  background-color: black;
}

//...Front Page Decoration...//

#home .line-deco {
  height: 4px;
}

//...Works Decoration...//

#works .line-deco {
  margin-top: 8rem;
}

.proj-deco {
  display: flex;
  justify-content: space-around;
}

#works .proj-underline1 {
  height: 2.5px;
  width: 108px;
  background-color: black;
  justify-content: flex-start;
}

#works .proj-underline2 {
  height: 2.5px;
  width: 108px;
  background-color: black;
  justify-content: flex-end;
}

#works .proj-circle {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: black;
}

// ...About Decoration...//

#about .line-deco {
  margin-top: 3rem;
}

//...Contact Decoration...//
#contact .line-deco {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
