$pink: #ff0084;

$headingFont: "Fira Sans Condensed", sans-serif;
$birdyFont: "Birdy";

$smallFontSize: 1rem;
$med1FontSize: 1.2rem;
$med2FontSize: 1.3rem;
$largeFont: 3rem;

$smallTablet: 600px;
$medTablet: 700px;
$largeTablet: 900px;
$smallDesk: 1000px;
